/* import du partial _colors.scss qui est à la racine de l application path configuré dans angular.json*/
@import "../../sass/utils/colors";

.face-snap-card {
  box-sizing: border-box;
  width: 50%;
  margin: 20px auto;
  padding: 10px 30px;
  box-shadow: lightgray 4px 4px 20px;
  img {
    width: 100%;
  }
  h2 {
    margin-bottom: 0;
  }
  p {
    font-weight: 300;
    font-size: 16px;
  }
}

.snapped {
  background-color: rgba($color-snapped-primary, 0.4);
  color: $color-snapped-secondary;
  button {
    box-shadow: $color-snapped-primary 3px 3px 7px;
    color: $color-snapped-secondary;
    &:active {
      box-shadow: $color-snapped-primary 0 0 5px;
    }
  }
}
