@use  "../sass/utils/colors";

main {
    flex-direction: column;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%;   
}

.observable-interval {
    color: colors.$color-interval;// avec @use un namespace "colors" est cree contrairement a @import
    font-weight: 600;
}