<!--<app-header></app-header>
<router-outlet></router-outlet>-->

<main> 
<!-- souscription au bout de 6 secondes a l Observable depuis le template avec le pipe async et qui insere les emision (emises tous les secondes)dans le template-->
    <p class="observable-interval"> {{intervalDom$ | async }}</p>

 <!-- souscription a l Observable depuis le template avec le pipe async et qui insere les emision(emises tous les 100 millisencondes)dans le template
 avec l operator de bas niveau qui traite les emissions et ne garde que les valeurs des emissions divisible par 5 avec un reste 0-->    
    <p class="observable-interval"> {{intervalFilter$ | async }}</p> 
    <section class="container">
        <h1> Exercice Observable avec les operateurs et la methode pipe() pour implementer les operateurs de bas niveau</h1>
        <article>
            <h2> Exemple Observable avec les emissions de valeurs transformées avec l operateur map()</h2>
            <p class="observable-interval"> {{intervalMapNumber$ | async }}</p>
        </article>
        <article>
            <h2> Exemple Observable avec les emissions de valeurs pairs et impairs:</h2>
            <p> Observable  dont les emissions sont traités avec map et filter et souscrit avec le pipe | async dans le template </p>     
        </article>
    </section>
</main>
